<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Functional Test Suite" parallel="methods" thread-count="18"
       data-provider-thread-count="1" verbose="5">
    <listeners>
        <listener class-name="utility.listeners.TestListener"/>
        <listener class-name="utility.listeners.AnnotationTransformer"/>
    </listeners>
    <parameter name="browser" value="Firefox"/>
<test name="Functional">
    <classes>
        <class name="edu.ucsd.app.qa.KualiSearchTest"/>
    </classes>
</test>
</suite>